@model Vidly.ViewModels.RandomMovieViewModel
@{
    ViewBag.Title = "Customer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>
@if (Model.Customers.Count == 0)
{
    <text>Currently no customers are available.</text>
}
else
{
    <div class="container">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th class="text-center" style="border: 1px solid black;">Id</th>
                    <th style="border: 1px solid black;">Name</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var customer in Model.Customers)
                {
                    <tr>
                        <td class="text-center" style=" border: 1px solid black;">@customer.Id</td>
                        <td style=" border: 1px solid black;">@customer.Name</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}

